*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}
header{
	position: absolute;
  margin: auto;
  padding: auto;
}
header img {
	max-width: 120px;
	margin: 60px 50px;
}
.imgresponsive {
    z-index:  400;
    position: relative;
}
.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
  max-height: 960px;
  overflow: hidden;
}
.slideshow-container img {
  width: 100%;
}
.position {
  position: relative;
  z-index:  400;
  left:920px;
}
.position a {
  position: absolute;
  bottom: 80px;
  font-size: 60px;
  color:#373737;
  width:270px;
  right: 50px;
  vertical-align: middle;
}
.position h1 {
  font-size: 170px;
  position: relative;
}

.flex {
  display: flex;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.slidertext {
  position: absolute;
  z-index:  400;
  top: 50%;
	left: 60%;
}
.slidericons {
  display: flex;
  justify-content: space-between;
}
.slidericons li {
	max-width: 30px;
	margin: 10px;
}

.slidericons ul {
	align-items: center;
}
.name span {
	font-size: 50px;
}

.name h1 {
	font-size: 71px;
}

.name p {
	font-size: 23px;
}

.namep, h1 {
	color: blue;
	margin-bottom: 20px;
}