*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.headertitle {
    position:absolute;
    margin-top: 0px;
    margin-left: 0px;
}
