*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}
header{
  max-width: 2000px;
  width:100%;
  margin:auto;
  padding: auto;
	position: absolute;
}
header img {
	max-width: 120px;
	margin: 60px 50px;
}
.container {
  max-width: 2000px;
  width:100%;
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgresponsive {
    z-index:  400;
    position: relative;
}
.slideshow-container {
  max-width: 2000px;
  width:100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.slideshow-container img {
  width: 100%;
}
.position {
  position: relative;
  z-index:  400;
  display: flex;
}
.position a {
  position: absolute;
  bottom: 95px;
  font-size: 50px;
  color:#373737;
  width:270px;
  right:0px;
  display:flex;
  text-align:center;
}
.position h1 {
  font-size: 180px;
  position: relative;
  display: flex;
}
.abouttitle {
  padding-left: 65px;
  text-align:center;
}

.flex {
  max-width: 2000px;
  width: 100%;
  margin:auto;
  padding: auto;
  display: flex;
  justify-content: space-between;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.slidertext {
  position: absolute;
  z-index:  400;
  top: 40%;
	left: 60%;
}
.slidericons {
  display: flex;
}
.slidericons li {
	max-width: 30px;
	margin: 5px;
  align-items: center;
  justify-content: center;
}
.firsticons{
  padding-top:40px;
}
.slidericons ul {
	align-items: center;
}
.name span {
	font-size: 50px;
}

.name h1 {
	font-size: 71px;
}

.name p {
	font-size: 23px;
}

.namep, h1 {
	color: blue;
	margin-bottom: 20px;
}
.progressbar {
  position: absolute;
  z-index: 400;
  top: 90%;
	left: 80%;
  width: 180px;
}
.pink {
  color: #E93656;
}
.progressbar1 {
  height: 6px;
  width: 180px;
  border-radius: 3px;
  margin-top: 20px;
  background: #E93656;
  display: block;
}
.bold {
  color:#212121;
}
@keyframes line_animation {
  from {
    width: 10%;
  }
  to {
    width:100%;
  }
  }
  .progressbar1 {
  animation-name: line_animation;
  animation-duration: 6s;
  animation-timing-function:inherit; 
  }
  .secondsec-cont {
    max-width: 2000px;
    width:100%;
    margin:auto;
    padding: auto;
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  .mainimg img {
    max-width:450px;
  }
  .aboutme {
    max-width: 380px;
    margin: 50px 0;
    line-height: 1.5em;
    text-align: justify;
    text-align-last: right;
  }
  .aboutme h1 {
    font-size: 40px;
    padding-right: 40px;
  }
  .aboutme h4 {
    font-size: 15px;
	  color: #DAAE19;
    padding-right:40px;
  }
  .aboutme p {
    font-size: 16px;
    color: #555555; /*light grey*/
    padding: 40px;
  }
  .btn{
    margin-right: 35px;
    width:120px;
    height:50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-style: hidden;
    background-color: #E93656;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
  }
  .btn:hover{
    transition: ease all 0.3s;
    border-radius: 5px;
    border: 1px solid #E93656;
    background-color: #ffffff;
    color: #E93656;
  }
  .mainprogressbar {
   margin-top: 35px;
  }
  .mainprogressbar1 {
    height: 6px;
    background: #E93656;
    display: block;
    animation-name: line_animation;
    animation-duration: 6s;
    animation-timing-function:inherit; 
    width:80%;
  }
  .mainprogressbar2 {
    height: 6px;
    background: #E93656;
    display: block;
    animation-name: line_animation;
    animation-duration: 6s;
    animation-timing-function:inherit; 
  }
  .mainprogressbar3 {
    height: 6px;
    background: #E93656;
    display: block;
    animation-name: line_animation;
    animation-duration: 6s;
    animation-timing-function:inherit; 
  }
  .mainprogressbar4 {
    height: 6px;
    background: #E93656;
    display: block;
    animation-name: line_animation;
    animation-duration: 6s;
    animation-timing-function:inherit; 
  }
  .name2 {
   color:#222222 ;
  }
  .skills {
    max-width: 380px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
  }
  .skills li {
    padding-top: 10px;
  }
 .lititle {
   padding-bottom: 20px;
   width:300px;
 }
 .show-on-scroll {
  width:300px;
 }
 .white {
  display: block;
  overflow: hidden;
  background: #F0F0F0;
  height: 6px;
 }
 .mainprogressbar1.is-visible  {
	width: 80%;
	animation: HTML 3s;
}

.mainprogressbar2.is-visible  {
	width: 70%;
	animation: CSS 3s;
}

.mainprogressbar3.is-visible {
	width: 40%;
	animation: Javascript 3s;
}

.mainprogressbar4.is-visible {
	width: 20%;
	animation: React 3s;
}

@keyframes HTML {
	0%{
		width: 0%;
	}
	100%{	
		width: 80%;
	}
}

@keyframes CSS {
	0%{
		width: 0%;
	}
	100%{	
		width: 70%;
	}
}

@keyframes Javascript {
	0%{
		width: 0%;
	}
	100%{
		width: 40%;
	}
}

@keyframes React {
	0%{
		width: 0%;
	}
	100%{
		width: 20%;
	}
}
.contact-info {
  background:#131A36;
  height:210px;
  margin: auto;
  padding: auto;
}
.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 100px;
}
.address {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 100px;
}
.icons{
  padding-left: 20px;
}
.icons p {
  padding-top:10px;
  color:#DFDFDF;
  font-size:14px;
}
.icons h2 {
  font-size:25px;
  color:#FFFFFF;
}
.phone img:hover {
  background-color: #E93656;
  border-radius: 100%;
  cursor: pointer;
}
.address img:hover{
  background-color: #E93656;
  border-radius: 100%;
  cursor: pointer;
}
.email img:hover {
  background-color: #E93656;
  border-radius: 100%;
  cursor: pointer;
}
.soc-icons {
  margin-top: 50px;
  margin-left: 40px;
}
.soc-icons a {
  color: #6B6B6B;
}
.soc-icons li {
    height: 40px;
    width:100px;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    cursor: pointer;
}
.soc-icons a:hover {
	color: white;
	transition: 0.5s;
}
.soc-icons li:hover {
	background-color: #15263E;
	transition: 0.5s;
}
.third-cont {
  max-width: 1180px;
  margin: 50px 0;
}

.wrap {
  flex-wrap:wrap;
  display: flex;
}
.thirdcontainer {
  display: flex;
  justify-content: center;
  align-items: center;

}
.services-block {
  height: 360px;
	width: 285px;
	margin: 5px;
	padding: 20px;
	background: #FAFAFA padding-box;
  opacity: 0.97;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.services-block img {
	max-height: 60px;
  margin-top: 70px;
}
.services-block h2 {
	font-size: 22px;
	margin: 20px;
  text-align: center;
}
.description {
	font-size: 14px;
	color: white;
	text-align: center;
	visibility: hidden;
}

.services-block:hover .hidden {
	display: none;
}

.services-block:hover h2 {
	color: white;
}

.services-block:hover {
	background-color: #131A36;
	transition: 0.5s;
}

.services-block:hover .description {
	visibility: visible;
}
.recomendation{
background-color: #15263E;
max-width: 2000px;
width:100%;
height: 570px;
opacity: 1;
display: flex;
justify-content: center;
align-items: center;
}
.recomendation-content {
  align-items: center;
  color: #fff;
  margin-right: 80px;
  flex-wrap: wrap;
}
.recomendation-text {
  display: flex;
  width: 500px;
  padding-right: 80px;
}
.recomendation-img {
  vertical-align: middle;
  display: flex;
  padding-right: 60px;
  cursor: pointer;
}
.borderimg {
  border: 2px dashed #FFFFFF;
  border-radius:100%;
}
.recomendation-img :hover {
  border: 2px solid #E93656;
}
.recomendation-img img:hover {
  width: 90%;
}
.recomendation-btn {
  width: 13px;
  height: 13px;
  color:#FFFFFF00;
  border: 2px solid #FFFFFF;
  padding-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction:column;
  cursor: pointer;
}
.rec-btn {
  display: flex;
  flex-direction:column;
}
.recomendation-btn:hover {
  border: 2px solid #E93656;
}
.person-info p {
  color: #E93656;
  margin-right: 100px;
  padding-top: 20px;
}
.person-info h2 {
  color:#FFFFFF;
  padding-top: 20px;
}
.project-item img {
  width:300px;
}
.latest-projects-content {
  display: flex;
}
.latest-projects-items {
  display: flex;
  flex-wrap: wrap;
}
.latest-projects-title {
  margin-left: 410px;
  margin-bottom: 20px;
}
.h1 {
  font-size:70px;
  color: #2E2E2E;
}
.latest-projects-nav {
  background-color: #15263E;
  height:300px;
  width:280px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.latest-projects-nav li {
  padding: 5px;
  color:#FFFFFF;
  font-size:18px;
  cursor: pointer;
}
.project-item {
  position: relative;
}
.heart  {
  width: 14px;
  height:12px;
  margin-top: 100px;
  opacity:1;
}
.img__wrap {
  position: relative;
}
.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 1;
  vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.img__wrap:hover .img__description  {
  visibility: visible;
  opacity: 1;
  background-color: #15263E;
  color:#FFFFFF;
}

